<% share_icons = true if share_icons.nil? %>
<div class="row">
  <div class="col-xs-7">
    <ul class="nav nav-justified project-navbar">
      <li class="navbar-item-left<%= " active" if params[:controller] == "projects" && params[:action] == "show" %>"><%= link_to "Home", project_path(@project.name) %></li>
      <li class="navbar-item-left<%= " active" if params[:controller] == "posts" %>"><%= link_to "Updates", project_posts_path(@project.name) %></li>
      <li class="navbar-item-left<%= " active" if params[:action] == "sponsors" %>"><%= link_to "Supporters", sponsors_path(@project.name) %></li>
    </ul>
  </div>
  <div class="col-xs-5">
    <% if share_icons %>
    <ul class="list-inline share align-right">
      <li><%= render "application/facebook_button", href: project_url(@project.name) %></li>
      <li><%= render "application/twitter_button", href: project_url(@project.name) %></li>
      <li><%= render "application/google_plus_button", href: project_url(@project.name) %></li>
      <li>
        <% if current_user && current_user.follow?(@project) %>
        <%= link_to "Follow", unfollow_path(@project.name), method: "POST", class: "btn btn-primary unfollow-button" %>
        <% else %>
        <%= link_to "Follow", follow_path(@project.name), method: "POST", class: "btn btn-default follow-button" %>
        <% end %>
      </li>
    </ul>
    <% end %>
  </div>
</div>