<div class="container">
  <footer class="footer row">
    <div class="col-xs-3">
      <h1>Mecenus</h1>
      <p>© 2015 Solfanto, Inc.</p>
    </div>
    <div class="col-xs-3">
      <h3>The Project</h3>
      <p><%= link_to "About Us", about_path %></p>
      <p><%= link_to "Join the team", contribute_path %></p>
    </div>
    <div class="col-xs-3">
      <h3>Support</h3>
      <p><%= link_to "Help", help_path %></p>
      <p><%= link_to "Guidelines", guidelines_path %></p>
      <p><%= link_to "Terms of Use", terms_path %></p>
    </div>
    <div class="col-xs-3">
      <h3>Follow Us</h3>
      <p><em><span class="fa fa-twitter"></span> Twitter</em><!-- TODO: Make Twitter account --></p>
      <p><span class="fa fa-facebook"></span> <a href="https://www.facebook.com/mecenus.org" target="_blank">Facebook</a></p>
    </div>
  </footer>
</div>